.hero {
  position: relative;
  height: 700px;
  width: 100%;

  @screen lg {
    height: 960px;
  }
}

.hero .hero-content {
  .hero-title {
    font-family: theme("fontFamily.sans");
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .hero-display {
    font-family: theme("fontFamily.serif");
    font-size: 3rem;
  }
}

.hero-background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
