/*
  Work Card
*/

.work-card {
  @apply transition-shadow;
  @apply duration-300;
  background-color: theme("colors.navy");
  margin-bottom: 3rem;
  height: 900px;
  width: 100%;
  position: relative;

  &:hover {
    @apply transition-shadow;
    @apply duration-500;
    @apply shadow-xl;
  }
}

.work-card-content {
  color: theme("colors.white");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 575px;
  padding: 60px 0 60px 90px;
  position: relative;
  z-index: 5;
}

.work-card-details {
  h3 {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
  }

  a {
    display: inline-block;
    margin-top: 15px;
  }
}

.work-card-roles {
  h4 {
    font-size: 15px;
    font-weight: 700;
  }

  ul, li {
    display: block;
  }

  li {
    font-size: 15px;
    font-weight: 300;
  }
}

.work-card-image {
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

// Hub Group specific styles
.work-card.hub_group {
  background: rgb(84,173,68);
  background: linear-gradient(141deg, rgba(84,173,68,1) 0%, rgba(126,212,105,1) 100%);
}

// SHW specific styles
.work-card.select_home_warranty {
  background: rgb(31,73,125);
  background: linear-gradient(141deg, rgba(31,73,125,1) 0%, rgba(63,117,183,1) 100%);
  background-position: center right 8%;
}

// THL specific styles
.work-card.tiny_house_listings {
  background: rgb(192,42,19);
  background: linear-gradient(141deg, rgba(192,42,19,1) 0%, rgba(226,70,46,1) 100%);
  background-position: center right;
}


