.blog-card {
  @apply bg-white;
  @apply shadow-md;
  @apply rounded;
  @apply transition-all;
  @apply duration-200;
  @apply ease-jk-custom;
  position: relative;

  &:hover {
    @apply shadow-xl;
    @apply transition-all;
    @apply duration-700;
    @apply ease-jk-custom;
  }

  .blog-card-stripe {
    @apply rounded-t;
    @apply bg-blue;
    position: absolute;
    height: 6px;
    width: 100%;
    top: 0;
    left: 0;
  }

  h3 a {
    @apply transition-all;
    @apply duration-500;
    @apply ease-jk-custom;
    color: theme("colors.navy");
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    &:hover {
      @apply transition-all;
      @apply duration-500;
      @apply ease-jk-custom;
      color: theme("colors.blue.default");
    }
  }
}

.blog-card:nth-child(2n) {
  .blog-card-stripe {
    @apply bg-red;
  }

  a.link-arrow {
    color: theme("colors.red.default");

    &:after {
      background-color: theme("colors.red.default");
    }

    svg {
      fill: theme("colors.red.default");
    }
  }
}

.blog-card:nth-child(3n) {
  .blog-card-stripe {
    @apply bg-green;
  }

  a.link-arrow {
    color: theme("colors.green.default");

    &:after {
      background-color: theme("colors.green.default");
    }

    svg {
      fill: theme("colors.green.default");
    }
  }
}

.blog-card:nth-child(4n) {
  .blog-card-stripe {
    @apply bg-yellow;
  }

  a.link-arrow {
    color: theme("colors.yellow.default");

    &:after {
      background-color: theme("colors.yellow.default");
    }

    svg {
      fill: theme("colors.yellow.default");
    }
  }
}

.blog-card:nth-child(5n) {
  .blog-card-stripe {
    @apply bg-navy;
  }

  a.link-arrow {
    color: theme("colors.navy");

    &:after {
      background-color: theme("colors.navy");
    }

    svg {
      fill: theme("colors.navy");
    }
  }
}
