.hamburger {
  @apply transform;
  @apply rotate-0;
  @apply transition-all;
  @apply duration-300;
  @apply ease-jk-custom;
  width: 36px;
  height: 25px;
  position: relative;

  span {
    @apply transform;
    @apply rotate-0;
    @apply transition-all;
    @apply duration-500;
    @apply ease-jk-custom;
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: theme("colors.gray.600");
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }

  &:focus {
    outline: none;
  }

  // On Hover, let's extend the bars
  // and darken the gray
  &:hover span {
    width: 100%;
    background: theme("colors.gray.800");
  }

  // When active/open, let's ensure the bars
  // are full width
  &.active span {
    width: 100%;
  }
}

// When the hamburger is expanded, or
// inverted, let's make the bars white.
.invert .hamburger span,
.hamburger.active span {
  background: white;
}

// Top bun
//
.hamburger .hamburger-top {
  @apply transform;
  @apply origin-center;
  @apply origin-left;
  top: 0px;
  width: 45%;
}

// Top bun when active
.hamburger.active .hamburger-top {
  @apply transform;
  @apply rotate-45;
  top: -3px;
  left: 8px;
}

// Middle bun
//
.hamburger .hamburger-middle {
  @apply transform;
  @apply origin-center;
  @apply origin-left;
  top: 10px;
  width: 95%;
}

// Middleman bun disappears when open
.hamburger.active .hamburger-middle {
  width: 0%;
  opacity: 0;
}

// Bottom bun
//
.hamburger .hamburger-bottom {
  @apply transform;
  @apply origin-center;
  @apply origin-left;
  top: 20px;
  width: 65%;
}

// Bottom bun when open
.hamburger.active .hamburger-bottom {
  @apply transform;
  @apply -rotate-45;
  top: 23px;
  left: 8px;
}
