.link-arrow {
  display: inline;
  color: theme("colors.blue");
  font-size: 16px;
  line-height: 1;
  position: relative;
  vertical-align: middle;

  span.arrow-icon {
    transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    display: inline-block;
    margin-right: 5px;
    vertical-align: baseline;

    svg {
      fill: theme("colors.blue");
    }
  }

  &:after {
    transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    background-color: theme("colors.blue");
    border-radius: 1px;
    opacity: .2;
    content: "";
    right: -7%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: 150%;
    width: 0;
  }

  &:hover {
    span.arrow-icon {
      transition: all .4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      transform: translateX(-10px);
      margin-right: 10px;
    }

    &:after {
      transition: all .4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      width: 100%;
    }
  }
}

.link-arrow.inverted {
  color: theme("colors.gray.100");

  &:after {
    background-color: theme("colors.gray.100");
  }

  span.arrow-icon svg {
    fill: theme("colors.gray.100");
  }
}
