@import "../styles/utils/utils.angle";

.services-list {
  margin-top: -144px;
  position: relative;
  z-index: 10;

  @screen sm {
    margin-top: -140px;
  }
}

.service-item {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply transition-all;
  @apply duration-500;
  @apply transform;
  @apply ease-jk-custom;
  @apply scale-100;

  padding: 1.5rem .5rem;
  text-align: center;

  @screen sm {
    box-shadow: 0 0 50px 0 rgba(#212332, .2);
    padding: 2rem 1rem;
  }

  @screen lg {
    padding: 4rem 2rem;
  }

  &:hover {
    @apply transition-all;
    @apply duration-500;
    @apply shadow-2xl;
    @apply transform;
    @apply ease-jk-custom;
    @apply scale-102;
  }
}

.service-item-content {
  text-align: center;

  img,
  svg {
    height: 60px;
    margin: auto;
    margin-bottom: 1rem;
  }

  h3 {
    color: white;
    font-size: .85rem;
    font-weight: bold;
  }

  @screen sm {
    svg {
      height: 100px;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}

.service-item.service-strategy {
  background-color: theme("colors.red.default");
}

.service-item.service-pm {
  background-color: theme("colors.blue.default");
}

.service-item.service-design {
  background-color: theme("colors.yellow.default");
}

.service-item.service-dev {
  background-color: theme("colors.green.default");
}


// About Details
// Edu, work, family, etc.
//
.about-details h2 {
  font-family: theme("fontFamily.sans");
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: .8rem;
}

.about-details ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;

  li {
    color: theme("colors.gray.600");
    font-size: 15px;
    display: block;
    padding: .3rem 0;
  }

  li .ab-icon {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    width: 20px;
    vertical-align: middle;
  }
}

@screen md {
  .about-avatar {
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }
}

.about-bio {
  p {
    @apply antialiased;
    color: theme("colors.gray.800");
    font-family: theme("fontFamily.serif");
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
}


// Blog Sectin
// Blog overviews and styles
//
.about-blog {
  @include angle(before, true, 5deg);
}
