.services-list {
  margin-top: -140px;
  position: relative;
  z-index: 10;
}

.service-item {
  @apply flex;
  @apply items-center;
  @apply justify-center;

  padding: 4rem 2rem;
  text-align: center;
  box-shadow: 0 0 50px 0 rgba(#212332, .2);
}

.service-item-content {
  text-align: center;

  img {
    margin: auto;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.service-item.service-strategy {
  background-color: theme("colors.red");
}

.service-item.service-pm {
  background-color: theme("colors.blue");
}

.service-item.service-design {
  background-color: theme("colors.yellow");
}

.service-item.service-dev {
  background-color: theme("colors.green");
}


// About Details
// Edu, work, family, etc.
//
.about-details h2 {
  font-family: theme("fontFamily.sans");
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: .8rem;
}

.about-details ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;

  li {
    color: theme("colors.gray.600");
    font-size: 15px;
    display: block;
    padding: .3rem 0;
  }

  li .ab-icon {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    width: 20px;
    vertical-align: middle;
  }
}

.about-bio {
  margin-top: 3rem;

  p {
    @apply antialiased;
    color: theme("colors.gray.800");
    font-family: theme("fontFamily.serif");
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
}
