@import "../styles/utils/utils.angle";

// Homepage Hero
// Hero layout, text, and animations
//
.hero.homepage-hero {
  @include angle(after, false, 5deg);
  height: 900px;

  @screen sm {
    height: 750px;
  }

  @screen lg {
    height: 1200px;
  }
}

.homepage-hero .hero-content {
  padding-top: 175px;

  @screen lg {
    padding: 350px 0 0;
  }

  h1 {
    color: theme("colors.gray.900");
    font-family: theme("fontFamily.serif");
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.75rem;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    @screen sm {
      font-size: 2.25rem;
      line-height: 3.25rem;
    }

    @screen lg {
      font-size: 3rem;
      line-height: 4.8rem;
    }
  }
}

// Animate the hero text
.homepage-hero h1 {
  background: linear-gradient(144deg, #ed4747, #59a5d8, #ffd166, #06d6a0);
  background-size: 200% 200%;

  color: theme("colors.gray.900");
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: AnimatedGradient 9s ease infinite;
  -moz-animation: AnimatedGradient 9s ease infinite;
  animation: AnimatedGradient 9s ease infinite;
}

@-webkit-keyframes AnimatedGradient {
  0%{background-position:0% 13%}
  50%{background-position:100% 88%}
  100%{background-position:0% 13%}
}
@-moz-keyframes AnimatedGradient {
  0%{background-position:0% 13%}
  50%{background-position:100% 88%}
  100%{background-position:0% 13%}
}
@keyframes AnimatedGradient {
  0%{background-position:0% 13%}
  50%{background-position:100% 88%}
  100%{background-position:0% 13%}
}



// Work Container
// We push up the work container to cover
// the hero background angled box
//
.work-container {
  position: relative;
  margin-top: -325px;
  z-index: 11;

  @screen sm {
    margin-top: -300px;
  }
}


// Photo Gallery
// Masonry/grid layout of photos
// No columns on mobile
//

// Two columns on SM
@screen sm {
  .photo-gallery {
    columns: 2 200px;
    column-gap: 1rem;

    div {
      margin: 0 1rem 1rem 0;
      display: inline-block;
      width: 100%;
    }
  }
}

// Three columns above
@screen md {
  .photo-gallery {
    columns: 3 200px;
  }
}

