@import "../styles/utils/utils.angle";

.hero {
  @include angle(after, false, 5deg);
  position: relative;
  height: 1200px;
  width: 100%;
}

.hero-content {
  padding-top: 350px;

  h1 {
    color: theme("colors.gray.900");
    font-family: theme("fontFamily.serif");
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.8rem;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

.work-container {
  position: relative;
  margin-top: -300px;
  z-index: 11;
}

.photo-gallery {
  display: flex;
  flex-flow: column wrap;
  height: 1280px;

  /* Re-order items into rows */
  .photo-item:nth-child(3n+1) { order: 1; }
  .photo-item:nth-child(3n+2) { order: 2; }
  .photo-item:nth-child(3n)   { order: 3; }

  &::before,
  &::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}
