$header-default-height: 120px;
$header-mobile-height: 80px;

header.header {
  background-color: transparent;
  display: block;
  height: $header-default-height;
  width: 100%;
  z-index: 101;

  .header-inner {
    height: $header-default-height;
  }

  .btn-menu,
  .header-spacer,
  .header-back-btn {
    width: 66px;
  }

  .btn-menu {
    z-index: 1099;
  }

  .header-back-btn svg {
    fill: theme("colors.gray.800");
    max-width: 100%;
  }

  .header-brand {
    z-index: 1;

    svg {
      transition: all .6s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      transform: scale(1, 1);
      fill: theme("colors.blue.default");
      height: 55px;

      @screen sm {
        height: 75px;
      }
    }

    &:hover svg {
      transition: all .4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      transform: scale(1.065, 1.065);
      // -webkit-filter: drop-shadow( 0 15px 20px rgba(#DEEDF7, .5));
      // filter: drop-shadow( 0 10px 20px 3px rgba(#133c55, .5));

      fill: theme("colors.navy");
    }
  }
}

main {
  margin-top: -1 * $header-default-height;
}

.header.invert {
  .header-brand svg {
    fill: theme("colors.white");
  }

  .btn-menu svg,
  .header-back-btn svg {
    fill: theme("colors.gray.100");
  }
}
